body {
  background-color: #efefef;
  font-family: Helvetica,sans-serif;
}
svg {
  border: 1px solid #ccc;
  background-color: white;
}
svg line{
    stroke: grey;
    stroke-width: 2;
}

svg circle{
    stroke: red;
    fill: none;
    stroke-width: 2;
}

svg rect{
    stroke: steelblue;
    fill: none;
    stroke-width: 2;
}

svg polygon{
    stroke: white;
    fill: steelblue;
    stroke-width: 2;
    color:red;
}
svg text{
    color: white;
    fill: white;
    font-size: 8px;
}
svg text.big-name {
    font-size: 16px;
}
svg polygon.single {
  fill: #0392cf;
}
svg polygon.double {
  fill: #7bc043;
}
svg polygon.triple {
  fill: #f4874e;
}
svg polygon.triple.two {
  fill: #f2671e;
}
svg polygon.triple.three {
  fill: #d0500c;
}
svg polygon.homer {
  fill: #ee4035;
}
svg polygon.homer.two {
  fill: #be332a;
}
svg polygon.homer.three {
  fill: #8e261f;
}
svg polygon.homer.four {
  fill: #5f1915;
}
svg polygon.milestone {
  fill: black;
}
