body {
  background-color: #efefef;
  font-family: Helvetica,sans-serif;
}
svg {
  border: 1px solid #ccc;
  background-color: white;
}
svg line{
    stroke: grey;
    stroke-width: 2;
}

svg circle{
    stroke: red;
    fill: none;
    stroke-width: 2;
}

svg rect{
    stroke: steelblue;
    fill: none;
    stroke-width: 2;
}

svg polygon{
    stroke: white;
    fill: steelblue;
    stroke-width: 2;
    color:red;
}
svg text{
    color: white;
    fill: white;
    font-size: 8px;
}
svg text.big-name {
    font-size: 16px;
}
svg polygon.single {
  fill: #7B4397;
}
svg polygon.double {
  fill: #973A79;
}
svg polygon.triple {
  fill: #B92F55;
}
svg polygon.homer {
  fill: #DC2430;
}
svg polygon.milestone {
  fill: GoldenRod;
}
