.ui.card.controls {
  position: absolute;
  top: 20px;
  left: 30px;
  display: none;
}
svg {
  border: 1px solid #ccc;
  background-color: white;
}
svg line{
    stroke: grey;
    stroke-width: 2;
}

svg circle{
    stroke: red;
    fill: none;
    stroke-width: 2;
}

svg rect{
    stroke: steelblue;
    fill: none;
    stroke-width: 2;
}

svg polygon{
    stroke: white;
    fill: steelblue;
    stroke-width: 2;
    color:red;
}
svg text{
    color: white;
    fill: white;
    font-size: 8px;
}
svg text.big-name {
    font-size: 16px;
}
svg polygon.single {
  fill: #67bde2;
}
svg polygon.single.two {
  fill: #5297b4;
}
svg polygon.single.three {
  fill: #3d7187;
}
svg polygon.single.four {
  fill: #294b5a;
}
svg polygon.single.five {
  fill: #14252d;
}
svg polygon.single.six {
  fill: #001d29;
}
svg polygon.double {
  fill: #7bc043;
}
svg polygon.double.two {
  fill: #629935;
}
svg polygon.double.three {
  fill: #497328;
}
svg polygon.double.four {
  fill: #314c1a;
}
svg polygon.triple {
  fill: #f37736;
}
svg polygon.triple.two {
  fill: #c25f2b;
}
svg polygon.triple.three {
  fill: #914720;
}
svg polygon.homer {
  fill: #ee4035;
}
svg polygon.homer.two {
  fill: #be332a;
}
svg polygon.homer.three {
  fill: #8e261f;
}
svg polygon.homer.four {
  fill: #5f1915;
}
svg polygon.milestone {
  fill: black;
}


.sk-folding-cube {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 335px;
  left: 560px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f37736;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);

}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
